@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 1000;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
  background-color: #ffffff;
}
.header .container .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header .container .header-nav .header-logo a img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .container .header-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 100%;
}
.header .container .header-nav__right nav {
  width: 100%;
}
.header .container .header-nav__right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .container .header-nav__right nav ul li {
  position: relative;
  cursor: pointer;
}
.header .container .header-nav__right nav ul li a {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header .container .header-nav__right nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: #800303;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.header .container .header-nav__right nav ul li:hover::after {
  width: 100%;
}
.header .container .header-nav__right nav ul li:hover a {
  color: #800303;
}

.hero_section {
  width: 100%;
  height: 100vh;
  margin-top: 7rem;
}
.hero_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85%;
  width: 100%;
}
.hero_section .container .hero_content {
  width: 70%;
}
.hero_section .container .hero_content h1 {
  font-size: 8rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10rem;
  text-align: center;
}
.hero_section .container .hero_content h1 span {
  color: #800303;
}
.hero_section .container .hero_content p {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}
.hero_section .container .hero_button {
  margin-top: 5rem;
  padding: 15px 20px;
}
.hero_section .container .hero_button a {
  padding: 15px 20px;
  background-color: #800303;
  border: none;
  min-width: 15rem;
  margin: 0px 20px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 100px -15px rgb(255, 207, 100);
          box-shadow: 0px 0px 100px -15px rgb(255, 207, 100);
}
.hero_section .container .hero_button a:hover {
  background-color: #000000;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.hero_section .container .hero_arrow {
  width: 6rem;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  cursor: pointer;
  -webkit-animation: wave 3s infinite;
          animation: wave 3s infinite;
}
.hero_section .container .hero_arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.hero_section .container .hero_arrow a i {
  font-size: 6rem;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero_section .container .hero_arrow:hover a i {
  color: #800303;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.offer_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.offer_section .container .section_title {
  width: 80%;
}
.offer_section .container .section_title h2 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2rem;
}
.offer_section .container .section_title span {
  font-size: 4rem;
  color: #800303;
}
.offer_section .container .section_title p {
  font-size: 2.4rem;
  margin: 2rem;
}
.offer_section .container .offer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 5rem;
}
.offer_section .container .offer_content .squer {
  position: relative;
  height: 600px;
  width: 400px;
  margin: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.offer_section .container .offer_content .squer:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.offer_section .container .offer_content .squer .card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: url("../img/VIsualSh.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
.offer_section .container .offer_content .squer .card p {
  padding: 10px;
  font-size: 1.8rem;
  text-align: center;
}
.offer_section .container .offer_content .squer .card h4 {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.offer_section .container .offer_content .squer .card ul {
  list-style: none;
}
.offer_section .container .offer_content .squer .card ul li {
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}
.offer_section .container .offer_content .squer .back {
  z-index: -1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.offer_section .container .offer_content .squer .front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.offer_section .container .offer_button {
  margin-top: 30px;
}
.offer_section .container .offer_button p {
  font-size: 5rem;
}
.offer_section .container .offer_button p i {
  padding: 10px;
  font-size: 7rem;
  color: #800303;
}

.about_us_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about_us_section .container .section_title {
  margin: 10rem;
  width: 80%;
}
.about_us_section .container .section_title h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2rem;
}
.about_us_section .container .about_us_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}
.about_us_section .container .about_us_content .about_us_description {
  width: 50%;
  padding: 0 5rem;
  text-align: left;
}
.about_us_section .container .about_us_content .about_us_description h3 {
  font-size: 6rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.about_us_section .container .about_us_content .about_us_description h3 span {
  color: #800303;
}
.about_us_section .container .about_us_content .about_us_description p {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.about_us_section .container .about_us_content .about_us_description a {
  padding: 15px 20px;
  background-color: #800303;
  border: none;
  min-width: 15rem;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 40px;
}
.about_us_section .container .about_us_content .about_us_description a:hover {
  background-color: #000000;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.about_us_section .container .about_us_content .about_us_img {
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
}
.about_us_section .container .about_us_content .about_us_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.portfolio_wrapper {
  width: 100%;
  margin-top: 10rem;
}
.portfolio_wrapper .portfolio_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}
.portfolio_wrapper .portfolio_title h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.portfolio_wrapper .portfolio_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}
.portfolio_wrapper .portfolio_container .portfolio_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_big {
  height: 1000px;
  width: 90%;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_big .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #150b2b;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_big .info p {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_big:hover {
  background-color: #150b2b;
  cursor: pointer;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_big:hover .info {
  opacity: 0.8;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_small {
  height: 800px;
  width: 30%;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_small .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #150b2b;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_small .info p {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_small:hover {
  background-color: #150b2b;
  cursor: pointer;
}
.portfolio_wrapper .portfolio_container .portfolio_line .portfolio_small:hover .info {
  opacity: 0.8;
}
.portfolio_wrapper .portfolio_container .first .portfolio_big {
  background-image: url("../img/farma.jpg");
  background-size: cover;
  background-position: center;
}
.portfolio_wrapper .portfolio_container .second .portfolio_small {
  background-size: cover;
  background-position: center;
}
.portfolio_wrapper .portfolio_container .second .one {
  background-image: url("../img/lizaki.jpg");
}
.portfolio_wrapper .portfolio_container .second .two {
  background-image: url("../img/suknie.jpg");
}
.portfolio_wrapper .portfolio_container .second .three {
  background-image: url("../img/ziaja.jpg");
}
.portfolio_wrapper .portfolio_container .third .portfolio_big {
  background-image: url("../img/garniak.jpg");
  background-size: cover;
  background-position: center;
}

.footer_container {
  padding: 10rem 10rem 0 10rem;
  width: 100%;
  background-color: #ffffff;
}
.footer_container .footer_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0;
}
.footer_container .footer_up .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin-top: 5rem;
}
.footer_container .footer_up .footer_social h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.footer_container .footer_up .footer_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.footer_container .footer_up .footer_social ul li {
  margin: rem 0;
}
.footer_container .footer_up .footer_social ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  margin: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer_container .footer_up .footer_social ul li a:hover {
  color: #800303;
}
.footer_container .footer_up .footer_contact {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_container .footer_up .footer_contact h2 {
  font-size: 3.4rem;
  font-weight: 700;
  color: #800303;
  margin-bottom: 4rem;
}
.footer_container .footer_up .footer_contact form .form_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
.footer_container .footer_up .footer_contact form .form_line input {
  width: 70%;
  padding: 20px 40px;
  margin: 0 2rem;
  border: none;
  border-radius: 50px;
  background-color: #000000;
  font-size: 1.8rem;
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input::-webkit-input-placeholder {
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input::-moz-placeholder {
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input:-ms-input-placeholder {
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input::-ms-input-placeholder {
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input::placeholder {
  color: #ffffff;
}
.footer_container .footer_up .footer_contact form .form_line input:focus {
  border-color: #ffcf64;
}
.footer_container .footer_up .footer_contact form .form_line .btn {
  width: 20%;
  padding: 15px 50px;
  background-color: #800303;
  border: none;
  min-width: 15rem;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 40px;
}
.footer_container .footer_up .footer_contact form .form_line .btn:hover {
  background-color: #000000;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer_container hr {
  width: 100%;
}
.footer_container .footer_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}
.footer_container .footer_down .footer_copy {
  padding: 0 2rem;
}
.footer_container .footer_down .footer_author {
  padding: 0 2rem;
}

.about_us_tab .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about_us_tab .container .section_title {
  margin: 10rem;
  width: 80%;
}
.about_us_tab .container .section_title h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2rem;
}
.about_us_tab .container .about_us_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}
.about_us_tab .container .about_us_content .about_us_description {
  width: 50%;
  padding: 0 5rem;
  text-align: left;
}
.about_us_tab .container .about_us_content .about_us_description h3 {
  font-size: 6rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.about_us_tab .container .about_us_content .about_us_description h3 span {
  color: #800303;
}
.about_us_tab .container .about_us_content .about_us_description p {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.about_us_tab .container .about_us_content .about_us_description a {
  padding: 15px 20px;
  background-color: #800303;
  border: none;
  min-width: 15rem;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 40px;
}
.about_us_tab .container .about_us_content .about_us_description a:hover {
  background-color: #000000;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.about_us_tab .container .about_us_content .about_us_img {
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
}
.about_us_tab .container .about_us_content .about_us_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.about_us_tab .container .about_us_details {
  position: relative;
  width: 80%;
  margin-top: 20rem;
}
.about_us_tab .container .about_us_details .video_container {
  display: none; /* Ukryj kontener wideo domyślnie */
  position: fixed; /* Pozycjonowanie stałe, aby wideo było na wierzchu ekranu */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925); /* Półprzezroczyste, ciemne tło */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Wyśrodkuj wideo poziomo */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Wyśrodkuj wideo pionowo */
  z-index: 1000;
}
.about_us_tab .container .about_us_details .video_container .close-button {
  position: absolute; /* Pozycjonowanie absolutne względem kontenera wideo */
  top: 20px; /* Odległość od góry */
  right: 30px; /* Odległość od prawej */
  color: white; /* Kolor ikony zamknięcia */
  font-size: 30px; /* Rozmiar czcionki ikony */
  cursor: pointer; /* Kursor wskazujący na klikalność */
  z-index: 1001; /* Upewnij się, że przycisk zamknięcia jest na wierzchu wideo */
  background-color: rgba(0, 0, 0, 0.5); /* Lekko przezroczyste tło dla lepszej widoczności */
  border-radius: 50%; /* Okrągły kształt przycisku */
  width: 40px; /* Szerokość przycisku */
  height: 40px; /* Wysokość przycisku */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; /* Płynne przejście koloru tła */
}
.about_us_tab .container .about_us_details .video_container .close-button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Zmiana koloru tła przy najechaniu */
}
.about_us_tab .container .about_us_details .video_container video {
  background-color: #000000;
  width: 90%; /* Maksymalna szerokość wideo */
  height: 90%; /* Maksymalna wysokość wideo */
  border-radius: 8px; /* Zaokrąglone rogi wideo */
}
.about_us_tab .container .about_us_details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10rem;
}
.about_us_tab .container .about_us_details__item .img {
  position: relative;
  width: 40%;
  height: 800px;
  border-radius: 50px;
  margin-right: -150px;
  z-index: 1;
}
.about_us_tab .container .about_us_details__item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 50px;
}
.about_us_tab .container .about_us_details__item .img .play_icon {
  right: 20%;
}
.about_us_tab .container .about_us_details__item .img button {
  position: absolute;
  bottom: 20px;
  right: 10%;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about_us_tab .container .about_us_details__item .img button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about_us_tab .container .about_us_details__item .img button i {
  font-size: 5rem;
  color: #000000;
}
.about_us_tab .container .about_us_details__item .left {
  margin-left: -150px;
}
.about_us_tab .container .about_us_details__item .description {
  width: 80%;
  height: 700px;
  padding: 5rem 20rem;
  background-color: #cfcfcf;
  color: #000000;
  font-size: 2rem;
  text-align: left;
  margin-left: 2rem;
  border-radius: 50px;
}
.about_us_tab .container .about_us_details__item .description h3 {
  font-size: 6rem;
  margin-top: 3rem;
  line-height: 50px;
  text-transform: capitalize;
}
.about_us_tab .container .about_us_details__item .description h3 span {
  color: #800303;
}
.about_us_tab .container .about_us_details__item .description p {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

@-webkit-keyframes rotate {
  0% {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 40%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 40%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */