$background_color: #ffffff;
$hover_color: #5a1085;
$yellow_color: #ffcf64;
$purple_color: #ae08dd;
$font_color: #000000;
$accent_color: #800303;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: $background_color;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: $font_color;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
}

//header

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // padding: 0 5rem;
    background-color: $background_color;

    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background-color: #5a1085;
      .header-logo {
        a {
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }
        }
      }

      &__right {
        display: flex;
        align-items: center;
        width: 10%;
        height: 100%;

        nav {
          width: 100%;
          ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            li {
              position: relative;
              cursor: pointer;

              a {
                color: $font_color;
                font-size: 2rem;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                padding: 1rem 0;
                transition: color 0.3s;
              }

              .burger_btn {
                display: none;
                // position: absolute;
                // right: 30px;
                // top: 50%;
                // transform: translate(0, -50%);
                background: none;
                border: 1px solid transparent;
                z-index: 1000;
                cursor: pointer;

                .burger_box {
                  position: relative;
                  width: 40px;
                  height: 30px;

                  .burger_bars,
                  .burger_bars::after,
                  .burger_bars::before {
                    position: absolute;
                    left: 0;
                    height: 3px;
                    width: 40px;
                    content: "";
                    background-color: black;
                  }
                  .burger_bars {
                    top: 10px;
                    transition: 0.3s;
                  }
                  .burger_bars::before {
                    top: 10px;
                  }
                  .burger_bars--active {
                    transform: rotate(45deg);
                    top: 10px;
                    &::after {
                      transform: rotate(-90deg);
                    }
                    &::before {
                      display: none;
                    }
                  }
                }
              }

              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0.2rem;
                background: $accent_color;
                transition: width 0.3s;
              }

              &:hover::after {
                width: 100%;
              }

              &:hover a {
                color: $accent_color;
              }
            }
          }
        }
      }
      .nav_mobile {
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding-top: 100px;
        background-color: white;
        z-index: 100;
        transform: translateY(-100%);
        transition: 1s;

        .item_mobile_container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100px;
          border-bottom: 1px solid;
          transition: 0.3s;
          &:hover {
            background-color: #000000;
            .item_mobile {
              color: white;
            }
          }

          .item_mobile {
            font-size: 3rem;
            padding: 30px 300px;
            // color: $text_color;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      .nav_mobile--active {
        transform: translateY(0);
      }
    }
  }
}

//hero

.hero_section {
  width: 100%;
  height: 100vh;
  margin-top: 7rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 100%;

    .hero_content {
      width: 70%;

      h1 {
        font-size: 8rem;
        font-weight: 700;
        color: $font_color;
        margin-bottom: 10rem;
        text-align: center;

        span {
          color: $accent_color;
        }
      }
      p {
        font-size: 2.5rem;
        color: $font_color;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    .hero_button {
      margin-top: 5rem;
      padding: 15px 20px;
      a {
        padding: 15px 20px;
        background-color: $accent_color;
        border: none;
        min-width: 15rem;
        margin: 0px 20px;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 40px;
        box-shadow: 0px 0px 100px -15px rgba(255, 207, 100, 1);
        &:hover {
          background-color: #000000;
          color: #fff;
          box-shadow: none;
        }
      }
    }
    .hero_arrow {
      width: 6rem;
      height: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      cursor: pointer;
      animation: wave 3s infinite;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 100%;

        i {
          font-size: 6rem;
          color: $font_color;
          transition: 0.3s;
        }
      }
      &:hover {
        a {
          i {
            color: $accent_color;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

//offer

.offer_section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .section_title {
      width: 80%;
      h2 {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $font_color;
        margin-bottom: 2rem;
      }

      span {
        font-size: 4rem;
        color: $accent_color;
      }
      p {
        font-size: 2.4rem;
        margin: 2rem;
      }
    }
    .offer_content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 5rem;
      .squer {
        position: relative;
        height: 600px;
        width: 400px;
        margin: 20px;
        transition: 1s;
        transform-style: preserve-3d;
        &:hover {
          transform: rotateY(180deg);
        }
        .card {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px;
          background-image: url("../img/VIsualSh.png");
          background-size: cover;
          background-position: center;
          overflow: hidden;
          color: white;
          border-radius: 50px;
          transition: 1s;

          p {
            padding: 10px;
            font-size: 1.8rem;
            text-align: center;
          }

          h4 {
            font-size: 2.8rem;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
          }
          ul {
            list-style: none;
            li {
              font-size: 1.8rem;
              text-align: center;
              padding: 10px;
            }
          }
        }
        .back {
          z-index: -1;
          transform: rotateY(180deg);
        }
        .front {
          backface-visibility: hidden;
        }
      }
    }
    .offer_button {
      margin-top: 30px;
      p {
        font-size: 5rem;
        i {
          padding: 10px;
          font-size: 7rem;
          color: $accent_color;
        }
      }
    }
  }
}

//ABOUT_US

.about_us_section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .section_title {
      margin: 10rem;
      width: 80%;
      h2 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $font_color;
        margin-bottom: 2rem;
      }
    }
    .about_us_content {
      display: flex;
      justify-content: space-around;
      width: 90%;
      .about_us_description {
        width: 50%;
        padding: 0 5rem;
        text-align: left;

        h3 {
          font-size: 6rem;
          text-transform: capitalize;
          margin-bottom: 5rem;
          span {
            color: $accent_color;
          }
        }
        p {
          font-size: 2.4rem;
          margin-bottom: 5rem;
        }
        a {
          padding: 15px 20px;
          background-color: $accent_color;
          border: none;
          min-width: 15rem;
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 40px;
          &:hover {
            background-color: $font_color;
            color: #fff;
            box-shadow: none;
          }
        }
      }

      .about_us_img {
        width: 50%;
        border-radius: 50px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;
        }
      }
    }
  }
}

//PORTFOLIO
.portfolio_wrapper {
  width: 100%;
  margin-top: 10rem;

  .portfolio_title {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    h2 {
      font-size: 5rem;
      font-weight: 700;
      color: $font_color;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }
  .portfolio_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    .portfolio_line {
      display: flex;
      justify-content: center;
      // margin: 3rem;
      .portfolio_big {
        height: 1000px;
        width: 90%;
        // border-radius: 50px;

        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: #150b2b;
          // border-radius: 50px;
          text-decoration: none;
          opacity: 0;
          transition: 0.3s;
          p {
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
          }
        }

        &:hover {
          background-color: #150b2b;
          cursor: pointer;
          .info {
            opacity: 0.8;
          }
        }
      }
      .portfolio_small {
        height: 800px;
        width: 30%;
        // border-radius: 50px;
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: #150b2b;
          // border-radius: 50px;
          opacity: 0;
          transition: 0.3s;
          p {
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
          }
        }

        &:hover {
          background-color: #150b2b;
          cursor: pointer;
          .info {
            opacity: 0.8;
          }
        }
      }
    }

    .first {
      .portfolio_big {
        background-image: url("../img/farma.jpg");
        background-size: cover;
        background-position: center;
      }
    }

    .second {
      .portfolio_small {
        background-size: cover;
        background-position: center;
      }
      .one {
        background-image: url("../img/lizaki.jpg");
      }
      .two {
        background-image: url("../img/suknie.jpg");
      }
      .three {
        background-image: url("../img/ziaja.jpg");
      }
    }
    .third {
      .portfolio_big {
        background-image: url("../img/garniak.jpg");
        background-size: cover;
        background-position: center;
      }
    }
  }
}

// FOOTER

.footer_container {
  padding: 10rem 10rem 0 10rem;
  width: 100%;
  // margin-top: 10rem;
  background-color: $background_color;
  .footer_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;

    .footer_social {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-top: 5rem;
      // background-color: #0000002f;
      h4 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          margin: rem 0;
          a {
            text-decoration: none;
            color: $font_color;
            font-size: 2rem;
            margin: 2rem;
            transition: 0.3s;
            &:hover {
              color: $accent_color;
            }
          }
        }
      }
    }

    .footer_contact {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // width: 80%;
      // padding: 5rem;
      // background-color: #0000002f;
      // border-radius: 50px;

      h2 {
        font-size: 3.4rem;
        font-weight: 700;
        color: $accent_color;
        margin-bottom: 4rem;
      }

      form {
        .form_line {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 2rem;
          input {
            width: 70%;
            padding: 20px 40px;
            margin: 0 2rem;
            border: none;
            border-radius: 50px;
            background-color: #000000;
            font-size: 1.8rem;
            color: #ffffff;
            &::placeholder {
              color: #ffffff;
            }
            &:focus {
              border-color: #ffcf64;
            }
          }
          .btn {
            width: 20%;
            padding: 15px 50px;
            background-color: $accent_color;
            border: none;
            min-width: 15rem;
            color: #ffffff;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 40px;
            &:hover {
              background-color: #000000;
              color: #fff;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  hr {
    width: 100%;
  }
  .footer_down {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    .footer_copy {
      padding: 0 2rem;
    }
    .footer_author {
      padding: 0 2rem;
    }
  }
}

//TEAM tab

.about_us_tab {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .section_title {
      margin: 10rem;
      width: 80%;
      h2 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $font_color;
        margin-bottom: 2rem;
      }
    }
    .about_us_content {
      display: flex;
      justify-content: space-around;
      width: 90%;
      .about_us_description {
        width: 50%;
        padding: 0 5rem;
        text-align: left;

        h3 {
          font-size: 6rem;
          text-transform: capitalize;
          margin-bottom: 5rem;
          span {
            color: $accent_color;
          }
        }
        p {
          font-size: 2.4rem;
          margin-bottom: 5rem;
        }
        a {
          padding: 15px 20px;
          background-color: $accent_color;
          border: none;
          min-width: 15rem;
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 40px;
          &:hover {
            background-color: $font_color;
            color: #fff;
            box-shadow: none;
          }
        }
      }

      .about_us_img {
        width: 50%;
        border-radius: 50px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;
        }
      }
    }
    .about_us_details {
      position: relative;
      width: 80%;
      margin-top: 20rem;

      .video_container {
        display: none; /* Ukryj kontener wideo domyślnie */
        position: fixed; /* Pozycjonowanie stałe, aby wideo było na wierzchu ekranu */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.925
        ); /* Półprzezroczyste, ciemne tło */
        justify-content: center; /* Wyśrodkuj wideo poziomo */
        align-items: center; /* Wyśrodkuj wideo pionowo */
        z-index: 1000;
        .close-button {
          position: absolute; /* Pozycjonowanie absolutne względem kontenera wideo */
          top: 20px; /* Odległość od góry */
          right: 30px; /* Odległość od prawej */
          color: white; /* Kolor ikony zamknięcia */
          font-size: 30px; /* Rozmiar czcionki ikony */
          cursor: pointer; /* Kursor wskazujący na klikalność */
          z-index: 1001; /* Upewnij się, że przycisk zamknięcia jest na wierzchu wideo */
          background-color: rgba(
            0,
            0,
            0,
            0.5
          ); /* Lekko przezroczyste tło dla lepszej widoczności */
          border-radius: 50%; /* Okrągły kształt przycisku */
          width: 40px; /* Szerokość przycisku */
          height: 40px; /* Wysokość przycisku */
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s ease; /* Płynne przejście koloru tła */

          &:hover {
            background-color: rgba(
              255,
              255,
              255,
              0.3
            ); /* Zmiana koloru tła przy najechaniu */
          }
        }
        video {
          background-color: #000000;
          width: 90%; /* Maksymalna szerokość wideo */
          height: 90%; /* Maksymalna wysokość wideo */
          // border: 2px solid white; /* Biała ramka wokół wideo */
          border-radius: 8px; /* Zaokrąglone rogi wideo */
        }
      }

      &__item {
        display: flex;
        flex-direction: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10rem;
        // height: 200px;
        // background-color: #000000;
        .img {
          position: relative;
          width: 40%;
          height: 800px;
          border-radius: 50px;
          margin-right: -150px;
          z-index: 1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            border-radius: 50px;
          }
          .play_icon {
            right: 20%;
          }
          button {
            position: absolute;
            bottom: 20px;
            right: 10%;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
            }
            i {
              font-size: 5rem;
              color: $font_color;
            }
          }
        }
        .left {
          margin-left: -150px;
        }

        .description {
          width: 80%;
          height: 700px;
          padding: 5rem 20rem;
          background-color: #cfcfcf;
          color: $font_color;
          font-size: 2rem;
          text-align: left;
          margin-left: 2rem;
          border-radius: 50px;
          // box-shadow: 20px 8px 40px 0 #80030377;
          h3 {
            font-size: 6rem;
            margin-top: 3rem;
            line-height: 50px;
            text-transform: capitalize;
            // margin-bottom: 1rem;
            span {
              color: $accent_color;
            }
          }
          p {
            font-size: 2.4rem;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 40%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

//MEDIA

@media (min-width: 400px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
  .header {
    .container {
      .header-nav {
        .header-logo {
        }

        &__right {
          nav {
            width: 100%;
            ul {
              li {
                a {
                  display: none;
                }

                .burger_btn {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1400px) {
}
